.container {
	width: 90%;
	max-width:900px;
    margin:auto;
    background-color: transparent;
}
body{
 
   background: url(https://cdn.shopify.com/s/files/1/0278/8219/articles/Ciudad_de_Cochabamba_2048x.jpg?v=1559156631) no-repeat center center fixed; 
   background-size: 100vw 100vh;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color:transparent;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 200px;
    height: 150px;
    
}
